<div class="dms-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dms-carousel__btns">
        <span class="material-icons" (click)="setBack()">
            arrow_back_ios
            </span>
        <span class="material-icons" (click)="setNext()">
            arrow_forward_ios
            </span>
    </div>
    <div class="dms-carousel__content">
        <ng-container *ngFor="let section of items;">
            <div class="dms-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%' }">
                <h1> {{section.title!.first}} <span> {{section.title!.second}}</span></h1>
                <p> {{section.subtitle}} </p>
            </div>
        </ng-container>
    </div>
    <div class="dms-carousel__steps">
        <div class="dms-carousel__steps-step 
            dms-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>